/*-------Colors---------*/
$modalBorderColor: #888;
$modalBackgroundColor: #fefefe;
$gifItemBorderColor: #00000012;
$gifItemBoxShadow: rgba(0, 0, 0, 0.75);
$historyItemBorderColor:#fff;
$historyItemBackgroundColor: #8a2be254;
$historyItemHoverBackgroundColor: #8a2be287;
$historyMessageBackgroundColor: #a970e28f;
$historyMessageBorderColor: #000000;
$searchInputBorderColor: #ccc;
$pageNumberBackgroundColor: #8a2be287;