/*-------Colors---------*/
$modalBorderColor: #888;
$modalBackgroundColor: #fefefe;
$gifItemBorderColor: #00000012;
$gifItemBoxShadow: rgba(0, 0, 0, 0.75);
$historyItemBorderColor:#fff;
$historyItemBackgroundColor: #8a2be254;
$historyMessageContainerBackgroundColor: rgba(0, 0, 0, 0.4);
$historyMessageBackgroundColor: #a970e28f;
$historyMessageBorderColor: #000000;
$searchInputBorderColor: #ccc;
$appFontColor: #2c3e50;
$navbarBackgroundColor: #8a2be287;
$loginBackgroundColor: #ffffff;
$loginBoxShadowColor: rgba(0, 0, 0, 0.22);
$loginTitleBackgroundColor: #4d4d4d;
$loginTitleColor: #797979;
$loginControlBorderColor: #ddd;
$loginButtonBoxShadowColor: #45d6d6;
$loginButtonBackgroundColor: #2cbbbb;
$loginButtonBorderColor: #27a0a0;
$loginButtonHoverBackgroundColor: #34caca;
$loginErrorColor: #f87171;