/*-------Main---------*/

@import './base.scss';
@import './helpers.scss';
@import './fonts.scss';
@import './colors.scss';
@import './animations.scss';

body{
    background-image: url("../public/img/background.jpg");  
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: fixed;  
 } 

 